// Specific CSS for your home-page
.home-img {
  width:75%;

}


body {
  background-image: url("backgry.jpg");
  font-family: 'Nunito', sans-serif;
}


.card {
 max-height: 605px;
 border-radius:25px;
}

.boo {
  color:white;
}
