<div class="container mt-4 mb-5">
  <div class="form mt-3">
    <h1 class="boo">Enter Pokemon Name</h1>
    <p>Here are some ideas: <strong>Pikachu</strong>, <strong>Charmander</strong>, <strong>Squirtle</strong>.</p>
    <p> <em>*Currently fixing small bug - User might have to submit twice!*</em></p>
    <form action="" class="form">
      <input type="text" id="new-pokemon"class="form-control mb-3">
      <input type="submit" class="form-control btn btn-primary">
    </form>
  </div>
</div>
