<div class="container">
  <h2 class="head m-3">🚀 Pokemon: 🚀</h2>
    <div class="row row-cols-1 row-cols-lg-2">
        <% @pokemons.each do |pokemon| %>
          <div class="col mb-4">
            <div class="card p-3">
              <h5 class="card-title"> <%= pokemon["name"].capitalize %></h5>
            </div>
          </div>
        <% end %>
    </div>
</div>

<%= will_paginate @pokemons %>
