<%= render 'form' %>


<div class="container">
  <div class="row row-cols-1">
    <div class="col mb-4">
      <div id="display" class="card d-flex align-items-center">
        <img src="" id="poke-icon" class="" alt="...">
        <div class="card-body">
          <h2>Abilities:</h2>
          <h3 class="card-title new-info"> </h3>
          <p class="card-text mb-3 second-info"> </p>
        </div>
      </div>
    </div>
  </div>
</div>
